<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="service.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
</head>
<body>
  
 
  
      <details> 
        <summary></summary>
        <nav class="menu">
          <a href="/home">Home</a>
          <a href="/service">service</a>
          <a href="/contact">Contact</a>
         
        </nav>
      </details>
      <img src="https://previews.123rf.com/images/sarahdesign/sarahdesign1410/sarahdesign141000892/32210902-click-here-button.jpg"  width="300px" height="300px"/>
</body>
</html>